Makefile.in
aclocal.m4
autom4te.cache/
configure
/BUILD/
.build
/nbproject/private/
src/boost_pch.hpp.gch
*.lo
*.o
*.deps
*.dirstamp
*.a
*.la
*.so
/build/
Makefile
config/compile
config/ltmain.sh
config/test-driver
include/Makefile
include/OSS/build.h
src/Makefile
src/config.h.*
/src/js/nbproject/private/