Makefile.in
aclocal.m4
autom4te.cache/
configure
/BUILD/
.build
/nbproject/private/
src/boost_pch.hpp.gch
*.lo
*.o
*.deps
*.dirstamp
*.a
*.la
*.so
/build/
Makefile
config/compile
config/ltmain.sh
config/test-driver
include/Makefile
include/OSS/build.h
src/Makefile
src/config.h.*
/src/js/nbproject/private/
/src/js/modules/examples/nbproject/private/
config.log
config.status
debian.control
libtool
oss_core.spec
src/.libs/
src/apps/AccessList.js.h
src/apps/AuthProfile.js.h
src/apps/PropertyObject.js.h
src/apps/RouteProfile.js.h
src/apps/SIPMessage.js.h
src/apps/TransactionProfile.js.h
src/config.h
src/js/OSSJS_modules.js.h
src/oss_carp
src/oss_core
src/oss_garp
src/ossjs
src/stamp-h1
